.actions
  display: grid
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%

.close
  width: 40.1px
  height: 38.05px
  top: 16px
  right: 16px
  background: rgba(66, 58, 58, 0.42)
  border-radius: 50%
  cursor: pointer
  display: grid
  position: absolute
  img
    margin: auto
.buttons
  width: 123.39px
  height: 39.07px
  left: calc(50% + 127px)
  top: 8px
  position: absolute
  transform: translateX(-50%)
  &.end
    display: grid
    grid-gap: 134px
    grid-template-columns: repeat(2, 1fr)
    width: 381px
    left: 50%
  button
    background: rgba(66, 58, 58, 0.42)
    border-radius: 3.08482px
    align-items: center
    background: rgba(66, 58, 58, 0.42)
    cursor: pointer
    display: grid
    grid-auto-flow: column
    font-size: 12px
    font-weight: 700
    height: 100%
    letter-spacing: 0.2px
    justify-content: center
    width: 100%
    span
      position: relative
      width: 20px
      font-weight: 800
      font-size: 13.31px
      line-height: 8px
      letter-spacing: -0.0102827px
      text-transform: capitalize
      // &:before
      //   border-radius: 50%
      //   border: 2px solid rgba(#fff, 0.5)
      //   content: ''
      //   width: 100%
      //   height: 100%
      //   position: absolute
      //   top: 0
      //   left: 0
      &:after
        border-radius: 50%
        content: ''
        background: #D83B3B
        position: absolute
        height: 18px
        width: 18px
        top: 50%
        transform: translate(-50%, -50%)
        left: 30%
