@import '../../_variables.sass'

.form
  display: grid
  grid-gap: 10px

.message
  color: $textColorTwo
  font-weight: 500

.save
  width: 149.93px
  height: 47.48px
  font-weight: 700
  font-size: 21.2405px !important
  letter-spacing: -0.0124944px
  color: white
  margin: auto
  background-color: $orangeColor
  border-radius: 8.7461px

.cancel
  color: $textColorThree
  cursor: pointer
  justify-self: center
  width: 149.93px
  height: 47.48px
  font-weight: 700
  font-size: 21.2405px !important
  letter-spacing: -0.0124944px
  color: #697C8D
  width: 149.93px
  height: 47.48px
  background: #F4F7F9
  border: 1.24944px solid #A0A0AD
  border-radius: 8.7461px
  align-items: center
  display: flex
  justify-content: center

.error
  color: red
  font-weight: 500
  text-align: center
  position: absolute
  right: 17px
  top: 10px

.progress
  display: grid
  grid-gap: 16px
  justify-items: center
  &.loading
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    flex-direction: column
  .progressBar
    background: #FF5C00
    border-radius: 4px
    overflow: hidden
    height: 20px
    width: 100%
    span
      background: $primaryColor
      border-radius: 4px
      display: block
      height: 20px
  .progressNumber
    color: $previewColor
    font-weight: 800
    font-size: 28.7372px
    letter-spacing: -0.0124944px
    margin-bottom: 44px
  .progressIcon
    animation: rotating 2s infinite linear

.finish
  display: grid
  grid-gap: 16px
  p
    color: $textColorThree
    font-size: 16px
    font-weight: 500
    justify-self: center
    letter-spacing: 0.2px

@keyframes rotating
  from
    transform: rotate(0deg)
  to
    transform: rotate(-360deg)
