.endScreen
  align-content: center
  display: grid
  grid-gap: 10px
  grid-auto-rows: max-content
  height: 100%
  position: relative
  width: 100%
  & > a
    margin: auto
  .endScreenFooter
    display: grid
    grid-gap: 20px
    grid-auto-flow: column
    position: absolute
    left: 50%
    transform: translateX(-50%)
    bottom: 20px