.inputStyleInput
  position: relative
  input
    padding-right: 32px
  & > img
    cursor: pointer
    display: block
    height: 14px
    opacity: 0.3
    position: absolute
    right: 10px
    top: 50%
    transform: translateY(-50%)
    width: 14px
