@import '../../_variables.sass'

.player
  display: flex
  flex-direction: column
  flex-grow: 1
  align-items: center

.playerWrap
  position: relative
  display: flex
  height: 100%
  flex-direction: column


.video
  background: #000
  height: 100%
  justify-self: center
  position: relative
  & > div
    height: 100%
    video
      position: absolute
      left: 0
      top: 0

.videoOverlay
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  

.textDraggable
  cursor: grab!important
  color:#fff
  font-size: 1.5rem
.linkDraggable
  cursor: grab!important
  p
    color: #000000
    background: #fff
    box-shadow: 0px 1px 10px 0px #ffffff99
    padding: .5rem 1rem
    border-radius: .4rem
    font-size: 1.5rem

.overlaySection
  // margin: 2rem
  position: absolute
  // width: calc(100% - 4rem)
  // height: calc(100% - 4rem)
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: 1
  .draggable
    position: absolute
    display: inline-block
    white-space: nowrap
    transform: translate(-50%,-50%)


.controls
  position: relative
  height: 60px
  display: flex
  justify-content: center
  align-items: center
  p
    position: absolute
    top: .5rem
    left: 0
    font-weight: 700
  img
    height: 2rem
    width: 2rem
    cursor: pointer