@import '../../_variables.sass'
  
.shareCampaign
  height: 100%
  display: flex
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 9

.backdrop
  background: rgba(#B3BAC5, 0.8)
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 1

.box
  background: #fff
  border-radius: 8px
  margin: auto
  max-width: 960px
  overflow: hidden
  position: relative
  width: 100%
  z-index: 2

.header
  align-items: center
  //border-bottom: 1px solid rgba(#000, 0.1)
  display: grid
  grid-template-columns: 1fr auto
  height: 64px
  padding: 0 20px
  img
    cursor: pointer

.headerTitle
  color: $textColorOne
  font-size: 24px
  font-weight: 600

.steps
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.05)
  display: grid
  grid-gap: 140px
  grid-auto-columns: max-content
  grid-auto-flow: column
  height: 64px
  justify-content: center
  padding: 0 20px

.step
  align-content: center
  display: grid
  grid-gap: 8px
  justify-items: center
  position: relative
  p
    color: $textColorTwo
    font-size: 14px
    // font-weight: 700
    letter-spacing: 0.2px
  &:after
    background: #ECEEF1
    content: ''
    bottom: 17px
    position: absolute
    height: 4px
  &:nth-child(1)
    &:after
      left: 68%
      width: 179px
  &:nth-child(2)
    &:after
      left: 64%
      width: 201px
  &:nth-child(3)
    &:after
      left: 64%
      width: 201px
  &:last-child
    &:after
      display: none
  &.current
    p
      color: $secondaryColor
      font-weight: 700
    .stepStatus
      background: rgba(59,216,169,0.35)
  &.valid
    p
      color: $secondaryColor
      font-weight: 700
    .stepStatus
      background: $secondaryColor
      img
        display: block

.stepStatus
  align-items: center
  background: #ECEEF1
  border-radius: 50%
  display: flex
  height: 18px
  justify-content: center
  position: relative
  width: 18px
  z-index: 3
  img
    display: none
    height: 14px
    width: 14px

.content
  min-height: 72vh
  overflow: auto
  padding: 10px 50px
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.06)
  border-radius: 6px
  margin: 30px
  padding: 90px

.title
  color: $textColorTwo
  font-size: 18px
  font-weight: 600
  letter-spacing: 0.2px

.text
  font-size: 12px
  font-weight: 600
  letter-spacing: 0.5px
  color: rgba(53, 79, 101, 0.9)

.error
  color: red
  text-align: center

.stepOne
  display: grid
  grid-gap: 20px
  label
    color: $textColorTwo
    display: block
    font-size: 14px
    font-weight: 700
    letter-spacing: 0.2px
    margin-bottom: 10px
  input[type=text], textarea
    border: 1px solid rgba(90,113,132,0.2)
    display: block
    font-size: 14px
    width: 100%
  input[type=text]
    height: 30px
    margin-left:10px  
  input
    height: 55px
    padding: 0 20px
  textarea
    height: 210px
    padding: 20px
    resize: none
  .detailsMessageHeader
    align-items: center
    margin-right:10px
    font-size:15px
    color:#5A7184
    display: grid
    grid-auto-flow: column
    justify-content: space-between
    position: relative
    .addVariable
      color: $primaryColor
      cursor: pointer
      text-decoration: underline
    .popupVariables
      background: #fff
      border-radius: 8px
      box-shadow: 1px 1px 8px rgba(#000, 0.1)
      position: absolute
      right: 0
      top: 100%
      padding: 16px
      width: 250px
      select
        appearance: none
        background: #ffffff
        border-radius: 4px
        border: 1px solid rgba(90,113,132,0.2)
        cursor: pointer
        font-size: 12px
        height: 38px
        margin-bottom: 8px
        padding: 0 12px
        width: 100%
      button
        width: 100%
  .uploadThumbnail
    grid-auto-columns: max-content
    gap: 0 8px
    & > label
      grid-row: 1
      grid-column-start: 1
      grid-column-end: 3
    & > p
      grid-row: 2
      grid-column-start: 1
      grid-column-end: 3
    .uploadThumbnailRecoSize
      align-self: center
      color: $textColorThree
      font-size: 12px
      grid-row: 4
    label.uploadThumbnailArea
      align-content: center
      border: 2.5px dashed rgba(31, 59, 84, 0.4)
      box-sizing: border-box
      border-radius: 4px
      cursor: pointer
      display: grid
      grid-column: 1
      grid-gap: 5px
      grid-row: 3
      height: 149px
      justify-items: center
      margin-top: 15px
      width: 255px
      p
        color: #98A1AD
        font-weight: 400
        text-align: center
    .uploadThumbnailPreview
      grid-column: 2
      grid-row: 3
      height: 129px
      margin-top: 15px
    .removeThumbnail
      color: red
      cursor: pointer
      grid-column: 2
      grid-row: 4
  .fomoCopyLinksContainer
    display: flex
    flex-direction: row
    margin-right: 0 !important
    justify-content: center
  .uploadThumbnailForLinkInput
    display: none
  .buttonLinkWithThumb
    background: #fff
    padding: 0 10px
    align-items: center
    border-radius: 5px
    cursor: pointer
    display: -webkit-flex
    display: flex
    -webkit-justify-content: center
    justify-content: center
    text-decoration: none
    color: white
    width: 125px
    min-width: 125px
    font-size: 12px
    height: 36.39px
    background: linear-gradient(180deg, #0BB3FF 0%, #535BFF 100%)
    box-sizing: border-box
    font-weight: 700
  .imgLinkWithThumb
    margin-right: 10px
    color: white
  .socialShareAndBtImage
    text-align: center
    display: flex
  .buttonLinkSuccess
    margin-right: 26px
    padding: 0 10px
    width: 97px
    height: 36.39px
    align-items: center
    border-style: solid
    border-width: 2px
    border-radius: 5px
    cursor: pointer
    display: -webkit-flex
    display: flex
    -webkit-justify-content: center
    justify-content: center
    text-decoration: none
    font-weight: 600
    min-width: 116px
    font-size: 10px
    background: green
    border-color: green
    color: #fff
  .thumbnailSecStyle
    height: 93px
    margin-top: 15px

.uploadThumbnailInput
  height: 0px
  overflow: hidden
  opacity: 0
  position: absolute
  width: 0px
  z-index: -1

.stepTwo
  display: grid
  grid-gap: 45px
  .sectionHeaderOption
    padding: 10px 10px 20px 10px
    padding-bottom: 20px
    letter-spacing: 0.2px
    color: #5F59F7
    cursor: pointer
    font-size: 16px
    font-weight: 500

  .sectionHeaderButton
    align-items: end
    display: grid
    grid-gap: 10px
    grid-template-columns: 1fr auto auto auto
    margin-bottom: 20px
  .sectionHeaderLists
    align-items: center
    display: grid
    grid-gap: 10px
    grid-template-columns: 1fr auto
    margin-bottom: 20px

.search
  border: 1px solid $textColorTwo
  border-radius: 4px
  color: $textColorTwo
  height: 38px
  justify-self: flex-end
  max-width: 160px
  position: relative
  img
    position: absolute
    left: 8px
    top: 50%
    transform: translateY(-50%)
  input
    height: 100%
    background: transparent
    border: 0
    color: $textColorTwo
    display: block
    font-size: 13px
    padding-left: 30px
    padding-right: 30px
    position: relative
    width: 100%
    z-index: 2

.contactsList, .listsList
  border: 1px solid $primaryColor
  border-radius: 4px
  height: auto
  min-height: 200px
  max-height: 300px
  overflow: auto
  & > div:nth-child(odd)
    background: #F9FAFC

.contactCount
  cursor: pointer
  color: $primaryColor!important


.listsItemSubRow
  display: flex
  display: flex
  flex-direction: column
  border-left: 1px solid #ece3e3
  border-bottom: 1px solid #ece3e3
  margin-left: 45px 
  max-height: 200px
  height: auto
  overflow: auto
  &>.contactsItem
    grid-template-columns: 1fr 2fr 1fr 1fr



.contactsHeader, .listsHeader
  display: grid
  height: 30px
  grid-gap: 15px
  padding: 0 15px
  p
    color: $textColorThree
    font-size: 13px
    font-weight: 700
    letter-spacing: 0.2px

.contactsItem, .listsItem
  align-items: center
  display: grid
  height: 40px
  grid-gap: 15px
  padding: 0 15px
  &.empty
    grid-template-columns: 1fr
    justify-items: center
  p
    color: $textColorTwo
    font-size: 13px
    font-weight: 500
  input[type=checkbox]
    display: block
    cursor: pointer

.contactsHeader, .contactsItem
  grid-template-columns: 16px 1fr 2fr 1fr 1fr

.listsHeader, .listsItem
  grid-template-columns: 16px 150px 1fr 1fr

.stepThree
  display: grid
  grid-gap: 15px

.mailContainer
  overflow: auto
  padding: 10px
  margin: 10px

.mailTitle
  color: $textColorOne
  font-weight: 600
  text-align: center
  margin-bottom: 20px

.mailHeader
  color: $textColorTwo
  font-size: 18px
  font-weight: 600
  letter-spacing: 0.2px
  margin-left: 30px

.mailOption
  align-items: center 
  display: flex
  padding: 0 10px 
  border:2px solid #5a7184
  border-radius:4px
  height: 40px
  margin-top : 5px
  color: black

.mailLogo
  width: 30px
  height: 30px
  margin: 10px

.mailButton 
  height: 40px
  margin: 10px

.stepFour
  display: grid
  grid-gap: 15px

.summary
  border: 1px solid $primaryColor
  border-radius: 8px
  display: grid
  margin-top: 10px
  overflow: hidden

.summaryItemHeader
  align-items: center
  background: #F9FAFC
  display: grid
  grid-gap: 10px
  grid-template-columns: 18px 1fr auto
  height: 35px
  padding: 0 10px
  p
    color: $textColorTwo
    font-size: 14px
    font-weight: 700
    letter-spacing: 0.2px
  span
    color: $secondaryColor
    cursor: pointer
    font-size: 12px
    letter-spacing: 0.2px
    font-weight: 700

.summaryChecked
  background: $secondaryColor
  border-radius: 50%
  display: flex
  height: 18px
  width: 18px
  img
    height: 14px
    margin: auto
    width: 14px

.summaryItemContent
  display: grid
  grid-gap: 10px
  padding: 20px 38px

.summaryThumbnailPreview
  height: 129px
  margin-top: 15px

.footer
  align-items: center
  //border-top: 1px solid rgba(#000, 0.1)
  display: grid
  grid-auto-flow: column
  justify-content: space-between
  height: 64px
  padding: 0 20px
  div
    display: grid
    grid-auto-flow: column
    grid-gap: 10px

p.backLink
  letter-spacing: 0.2px
  font-size: 18px
  color: #5B5FEE
  text-decoration: underline
  font-weight: 600
  cursor : pointer

.imgLink
  width: 20px
  height:20px
  margin-right:10px
  
.imgLinkBottom
  margin-top: 30px
  width: 40%
  margin-bottom:40px


.socialImg
  margin-top: 20px
  width: 140px

.EmailTitle
   color:#183B56


.mailShare
  width : 25px
  height:25px
  margin-right : 10px     


.buttonLink
  align-items: center
  border-radius: 5px
  cursor: pointer
  display: -webkit-flex
  display: flex
  -webkit-justify-content: center
  justify-content: center
  padding: 0 20px
  text-decoration: none
  background: #5F59F7
  color: #fff
  font-weight: 700
  min-width: 125px
  font-size: 12px
  width: 125px
  height: 36.39px
  background: linear-gradient(180deg, #0BB3FF 0%, #535BFF 100%)

  box-sizing: border-box

.buttonLinkSuccess
  height:48px
  align-items: center
  border-style: solid
  border-width: 2px
  border-radius: 8px
  cursor: pointer
  display: -webkit-flex
  display: flex
  height: 48px
  -webkit-justify-content: center
  justify-content: center
  padding: 0 20px
  text-decoration: none
  background: green
  border-color: green
  color: #fff
  font-weight: 600
  min-width: 144px

.thumbnailRow
  display: flex
  align-items: center
  margin-bottom: 27px

.thumbnailRow > span
  //font-family: Roboto
  font-style: normal
  font-weight: 600
  font-size: 20px
  line-height: 8px
  letter-spacing: 0.99px
  text-transform: capitalize
  color: rgba(53, 79, 101, 0.9)
  line-height: 8px

.thumbnailRow > img
  width: 28px
  height: 23px
  margin-right: 10px

.thumbnailDescription
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 9px
  line-height: 8px
  letter-spacing: -0.01px
  text-transform: capitalize
