@import '../../_variables.sass'

.timeline
  cursor: pointer
  display: grid
  height: 100%
  grid-gap: 5px
  padding-bottom: 20px
  padding-top: 30px
  position: relative
  user-select: none

.cursor
  background-image: linear-gradient($primaryColor 50%, rgba(255,255,255,0) 0%)
  background-position: right
  background-size: 1px 8px
  background-repeat: repeat-y
  height: 105px
  position: absolute
  left: 0
  bottom: 20px
  width: 2px
  &:before
    background-image: url('/assets/video/play.svg')
    background-position: center
    background-repeat: no-repeat
    background-size: 14px
    content: ''
    height: 20px
    position: absolute
    right: 50%
    top: -20px
    transform: translateX(50%) rotate(90deg)
    width: 20px

.helloScreen, .videoRecorded, .endScreen
  align-items: center
  background: #F3F7F9
  border-radius: 8px
  color: rgba($textColorTwo, 0.3)
  display: flex
  font-size: 20px
  font-weight: 700
  line-height: 24px
  justify-content: center
  text-align: center
