@import '../_variables'

.dashboard
  background: #F8FBFF
  height: 100vh

.container
  margin: 0 auto
  max-width: 1340px
  padding: 0 20px
  width: 100%

.title
  color: $textColorOne
  font-size: 30px
  font-weight: 700
  margin-bottom: 40px

.header
  background: #fff
  height: 90px
  .container
    align-items: center
    display: grid
    height: 100%
    grid-auto-flow: column
    grid-gap: 24px
    grid-template-columns: 1fr auto auto
    justify-content: space-between
  .logout
    cursor: pointer
    font-size: 16px
    font-weight: 500
    &:hover
      text-decoration: underline

.content
  padding: 50px 0

.campaignsHeader
  display: grid
  grid-template-columns: repeat(3, 1fr) 150px
  margin-bottom: 10px
  padding: 0 40px
  p
    color: #BFC5D2
    font-size: 12px
    font-weight: 700
    letter-spacing: 1px
    text-transform: uppercase

.campaignsList
  background: #fff
  border-radius: 8px
  display: grid

.campaignsItem
  align-items: center
  border-bottom: 1px solid rgba(46,91,255,0.08)
  display: grid
  grid-template-columns: repeat(3, 1fr) 150px
  padding: 24px 40px
  p
    color: $textColorOne
    font-size: 13px
  &:last-child
    border-bottom: 0

.campaignsItemActions
  display: grid
  grid-auto-columns: max-content
  grid-auto-flow: column
  grid-gap: 8px
  .action
    align-items: center
    background: $primaryColor
    border-radius: 4px
    color: #fff
    cursor: pointer
    display: grid
    font-size: 12px
    height: 30px
    padding: 0 15px
    &:nth-child(1)
      background: #eee
      color: $primaryColor
    &:nth-child(2)
      background: $primaryColor
    &:nth-child(3)
      background: red

.campaignsEmpty
  display: grid
  grid-gap: 16px
  justify-content: center
  padding: 80px
  p
    color: $textColorTwo
    font-size: 20px
    text-align: center