@import '../_variables.sass'
  
.homepage
  overflow-x: hidden

.container
  margin: 0 auto
  max-width: 1170px
  width: 100%

.sectionTitle
  color: $textColorOne
  font-family: 'hk_groteskbold'
  font-size: 48px
  letter-spacing: 0.2px
  line-height: 56px
  margin-bottom: 16px

.sectionTitleCenter
  @extend .sectionTitle
  text-align: center

.sectionSubtitle
  color: $textColorTwo
  font-size: 18px
  font-weight: 400
  letter-spacing: 0.2px
  line-height: 32px

.sectionSubtitleCenter
  @extend .sectionSubtitle
  text-align: center

.logo
  height: 60px

.icon
  align-items: center
  background: rgba($primaryColor, 0.1)
  border-radius: 50%
  display: flex
  height: 60px
  justify-content: center
  width: 60px
  img
    width: 24px

.creditCardNotRequired
  color: $textColorTwo
  font-size: 13px
  line-height: 20px
  text-align: center

// header
.header
  background: #F8FBFF
  padding: 50px 0
  .container
    align-items: center
    display: flex
    justify-content: space-between

.headerContent
  display: grid
  grid-gap: 50px
  grid-template-columns: repeat(2, auto)

.headerMenu
  align-items: center
  display: grid
  grid-gap: 40px
  grid-template-columns: repeat(3, auto)
  a
    color: $textColorOne
    cursor: pointer
    font-size: 14px
    font-weight: 500

.headerButtons
  display: grid
  grid-gap: 8px
  grid-template-columns: repeat(2, auto)

.premiumLabel
  background: rgba($primaryColor, 0.2)
  border-radius: 2px
  color: $primaryColor
  font-size: 13px
  font-weight: 600
  padding: 5px 12px
  text-transform: uppercase


// Section engage
.engageSection
  background: #F8FBFF
  .container
    margin-bottom: 40px

.engageTitle
  color: $textColorOne
  font-family: 'hk_groteskbold'
  font-size: 56px
  line-height: 56px
  margin: auto
  margin-bottom: 20px
  max-width: 700px
  text-align: center

.engageSubtitle
  @extend .sectionSubtitle
  margin: auto
  margin-bottom: 40px
  max-width: 830px
  text-align: center

.engageButtons
  display: grid
  grid-gap: 8px
  grid-template-columns: repeat(2, auto)
  justify-content: center
  margin-bottom: 20px

.engageVisual
  height: 410px
  position: relative

.engageVisualOval
  position: absolute
  right: -130px
  top: -80px

.engageVisualSquare
  bottom: 0
  left: -200px
  position: absolute

.engageVisualWave
  bottom: -1px
  left: 0
  position: absolute
  width: 100%
  z-index: 3

.engageScreenshot
  height: 100%
  margin: auto
  max-width: 945px
  position: relative
  .engageScreenshotHidden
    box-shadow: 0 10px 36px 0 rgba(0,0,0,0.05)
    border-radius: 8px
    height: 100%
    overflow: hidden
    img
      position: relative
      width: 100%
      z-index: 2


// Section solution
.solutionSection
  background: #fff
  position: relative
  padding-bottom: 360px
  padding-top: 250px
  z-index: 2
  .container
    align-items: center
    display: flex
    flex-direction: column

.solutionGrid
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(4, 1fr)
  margin-bottom: 60px
  margin-top: 40px

.solutionItem
  align-items: center
  border: 1px solid #E5EAF4
  border-radius: 8px
  display: flex
  flex-direction: column
  cursor: default
  padding: 30px
  transition: all .3s ease
  &:hover
    border-color: #fff
    box-shadow: 2px 4px 34px 0 rgba(15,24,44,0.05)

.solutionItemTitle
  color: $textColorOne
  font-size: 20px
  font-weight: 700
  line-height: 24px
  margin-bottom: 12px
  margin-top: 34px
  text-align: center

.solutionItemText
  color: $textColorTwo
  font-size: 14px
  line-height: 24px
  text-align: center


// Section product
.productSection
  margin-bottom: 220px
  position: relative
  z-index: 3
  .container
    align-items: flex-start
    display: flex
    flex-direction: column
    position: relative

.productTitle
  @extend .sectionTitle
  max-width: 400px

.productSubtitle
  @extend .sectionSubtitle
  max-width: 400px

.productList
  display: grid
  grid-gap: 20px
  margin-bottom: 70px
  margin-top: 50px

.productItem
  align-items: center
  display: grid
  grid-gap: 15px
  grid-template-columns: auto 1fr
  p
    color: $textColorOne
    font-size: 24px
    font-wieght: 500
  .premiumLabel
    grid-column: 3

.productVisual
  height: 100%
  left: 68%
  position: absolute
  top: 0

.productVisualOval
  position: absolute
  top: -150px
  left: -250px

.productScreenshot
  height: 100%
  border-radius: 8px
  box-shadow: 0 10px 36px 0 rgba(0,0,0,0.05)
  position: relative
  z-index: 2


// Section steps
.stepsSection
  position: relative
  .container
    display: grid
    grid-template-columns: repeat(2, 50%)
    padding-bottom: 400px

.stepsVisual
  align-items: center
  display: flex
  flex-direction: column
  img
    flex: 1
    max-width: 80%

.stepsList
  display: grid
  grid-gap: 40px
  margin-top: 50px

.stepsItem
  display: grid
  gap: 0 20px
  grid-template-columns: 48px 1fr

.stepsItemNumber
  align-items: center
  border: 1px solid rgba($primaryColor, 0.3)
  border-radius: 50%
  display: flex
  height: 48px
  justify-content: center
  width: 48px
  span
    align-items: center
    background: $primaryColor
    border-radius: 50%
    box-shadow: 0 10px 15px 0 rgba(21,37,71,0.15)
    color: #fff
    display: flex
    font-size: 16px
    font-weight: 600
    height: 36px
    justify-content: center
    width: 36px

.stepsItemTitle
  align-self: center
  color: $textColorOne
  font-size: 22px
  font-weight: 600

.stepsItemText
  color: $textColorTwo
  font-size: 18px
  line-height: 32px
  grid-column: 2

.stepsWave
  background: #F8FBFF
  bottom: -1px
  left: 0
  position: absolute
  width: 100%
  z-index: 3


// Section plans
.plansSection
  background: #F8FBFF
  padding-top: 140px
  padding-bottom: 200px

.plansTitle
  @extend .sectionTitleCenter
  margin-left: auto
  margin-right: auto
  max-width: 800px

.plansSubtitle
  @extend .sectionSubtitleCenter
  margin-left: auto
  margin-right: auto
  max-width: 700px

.plansList
  align-items: flex-end
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(3, 1fr)
  margin-top: 70px

.planRecommended
  .planContent
    border-radius: 0 0 8px 8px
    .planPrice
      p
        color: $secondaryColor

.planPremium
  .planContent
    .planPrice
      p
        color: $primaryColor

.planContent
  a
    margin: auto
  .creditCardNotRequired
    margin-top: 20px

.planContent
  background: #fff
  border-radius: 8px
  padding: 50px 40px

.planRecommendedLabel
  align-items: center
  background: $secondaryColor
  border-radius: 8px 8px 0 0
  color: #fff
  display: flex
  font-size: 18px
  font-weight: 600
  justify-content: center
  height: 50px
  text-transform: uppercase

.planPrice
  align-items: baseline
  display: flex
  margin-bottom: 30px
  p
    color: $textColorOne
    font-family: 'hk_groteskbold'
    font-size: 45px
    margin-right: 10px
  span
    color: $textColorTwo
    font-size: 18px

.planTitle
  color: $textColorOne
  font-family: 'hk_groteskbold'
  font-size: 26px
  font-weight: 600
  letter-spacing: 0.2px
  margin-bottom: 15px

.planText
  color: $textColorTwo
  font-size: 18px
  line-height: 31px
  &:after
    background: #E5EAF4
    content: ""
    display: block
    height: 1px
    margin: 30px 0
    width: 100%

.planDetails
  display: grid
  grid-gap: 25px
  grid-template-rows: repeat(4, 1fr)
  margin-bottom: 60px

.planDetailsItem
  align-items: center
  display: grid
  grid-gap: 12px
  grid-template-columns: auto 1fr
  p
    color: $textColorOne
    font-size: 18px


// Section try it
.tryItSection
  align-items: center
  background: $primaryColor
  color: #fff
  display: flex
  flex-direction: column
  padding: 80px 0
  position: relative
  .sectionTitle, .sectionSubtitle
    color: #fff
  a
    margin-top: 40px
  .creditCardNotRequired
    color: #fff
    margin-top: 10px

.tryItOval
  bottom: 0
  position: absolute
  right: 0

.tryItSquare
  left: 0
  position: absolute
  top: 0

// Footer
.footer
  padding: 120px 0
  .container
    display: grid
    gap: 45px 30px
    grid-template-columns: repeat(3, 1fr)

.footerLinksTitle
  color: $textColorTwo
  font-size: 18px
  font-weight: 600
  margin-bottom: 30px

.footerLinks
  display: grid
  gap: 25px
  grid-template-columns: repeat(2, auto)

.footerLinksItem
  color: #959EAD
  font-size: 16px
  text-decoration: none

.footerSocials
  align-items: center
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(4, 25px)
  margin-bottom: 35px

.copyright
  color: $textColorTwo
  font-size: 16px
  font-weight: 500
