@import '../_variables.sass'
  
.homepage
  overflow-x: hidden

.container
  margin: 0 auto
  max-width: 1170px
  width: 100%

.sectionTitle
  color: $textColorTwo
  font-family: 'hk_groteskbold'
  font-size: 48px
  letter-spacing: 0.2px
  line-height: 56px
  margin-bottom: 15px

.sectionTitleCenter
  @extend .sectionTitle
  text-align: center

.sectionSubtitle
  color: $textColorThree
  font-size: 18px
  font-weight: 400
  letter-spacing: 0.2px
  line-height: 32px

.sectionSubtitleCenter
  @extend .sectionSubtitle
  text-align: center

.logo
  height: 60px

.icon
  align-items: center
  background: rgba($primaryColor, 0.1)
  border-radius: 50%
  display: flex
  height: 60px
  justify-content: center
  width: 60px
  img
    width: 24px

.creditCardNotRequired
  color: $textColorThree
  font-size: 13px
  line-height: 20px
  text-align: center

// header
.header
  background: #F8FBFF
  height: 90px
  top: 0
  position: sticky
  &.sticky
    background: #fff
    box-shadow: 0 2px 35px 0 rgba(0,0,0,0.1)
    position: fixed
    top: 0
    width: 100%
    z-index: 999
  .container
    align-items: center
    display: grid
    grid-gap: 50px
    grid-template-columns: 250px 1fr 250px
    height: 100%

.headerMenu
  align-items: center
  display: grid
  grid-gap: 40px
  grid-template-columns: repeat(3, auto)
  justify-content: flex-end
  a
    color: $textColorOne
    cursor: pointer
    font-size: 14px
    font-weight: 500

.headerButtons
  display: grid
  grid-gap: 8px
  grid-template-columns: repeat(2, auto)

.premiumLabel
  background: rgba($primaryColor, 0.2)
  border-radius: 2px
  color: $primaryColor
  font-size: 13px
  font-weight: 600
  padding: 5px 12px
  text-transform: uppercase


// Section engage
.engageSection
  background: #F8FBFF
  padding-top: 10px
  &.sticky
    padding-top: 100px
  & > .container
    margin-bottom: 40px
    padding-top: 30px

.engageTitle
  color: $textColorTwo
  font-family: 'hk_groteskbold'
  font-size: 50px
  letter-spacing: 0.2px
  line-height: 65px
  margin: auto
  margin-bottom: 20px
  width: 100%
  text-align: center
  span
    color: $primaryColor

.engageSubtitle
  @extend .sectionSubtitle
  color: $textColorTwo
  font-weight: 500
  margin: auto
  margin-bottom: 20px
  max-width: 830px
  text-align: center

.engageButtons
  display: grid
  grid-gap: 8px
  grid-template-columns: repeat(2, auto)
  justify-content: center
  margin-bottom: 20px

.engageVisual
  height: 410px
  position: relative

.engageVisualOval
  position: absolute
  right: -130px
  top: -80px

.engageVisualSquare
  bottom: 0
  left: -200px
  position: absolute

.engageVisualWave
  bottom: -1px
  left: 0
  position: absolute
  width: 100%
  z-index: 3

.engageScreenshot
  height: 100%
  margin: auto
  max-width: 945px
  position: relative
  .engageScreenshotHidden
    box-shadow: 0 10px 36px 0 rgba(#000, 0.1)
    border-radius: 8px
    height: 100%
    overflow: hidden
    position: relative
    img
      position: relative
      width: 100%
      z-index: 2


// Section solution
.solutionSection
  background: #fff
  position: relative
  padding-bottom: 200px
  padding-top: 120px
  z-index: 2
  .container
    align-items: center
    display: flex
    flex-direction: column

.solutionGrid
  display: grid
  grid-gap: 30px
  grid-template-columns: repeat(4, 1fr)
  margin-bottom: 60px
  margin-top: 40px

.solutionItem
  align-items: center
  border: 1px solid #E5EAF4
  border-radius: 8px
  display: flex
  flex-direction: column
  cursor: default
  padding: 30px
  transition: all .3s ease
  &:hover
    border-color: #fff
    box-shadow: 2px 4px 34px 0 rgba(15,24,44,0.05)

.solutionItemTitle
  color: $textColorOne
  font-size: 20px
  font-weight: 700
  line-height: 24px
  margin-bottom: 12px
  margin-top: 34px
  text-align: center

.solutionItemText
  color: $textColorThree
  font-size: 14px
  line-height: 24px
  text-align: center


// Section product
.productSection
  margin-bottom: 220px
  position: relative
  z-index: 3
  .container
    align-items: flex-start
    display: flex
    flex-direction: column
    position: relative

.productTitle
  @extend .sectionTitle
  max-width: 400px

.productSubtitle
  @extend .sectionSubtitle
  max-width: 400px

.productList
  display: grid
  margin-bottom: 70px
  margin-top: 50px

.productItem
  display: grid
  grid-gap: 5px
  &:after
    background: #E5EAF4
    content: ""
    display: block
    height: 1px
    margin: 30px 0
    width: 150px
  &:nth-child(1)
    .label
      background: rgba($primaryColor, 0.2)
      color: $primaryColor
  &:nth-child(2)
    .label
      background: rgba($secondaryColor, 0.2)
      color: $secondaryColor
  &:nth-child(3)
    &:after
      display: none
    .label
      background: rgba(#60E4FD, 0.2)
      color: #60E4FD
  .label
    align-items: center
    display: grid
    font-size: 13px
    font-weight: 600
    height: 30px
    justify-items: center
    text-transform: uppercase
    width: 85px
  .productItemText
    color: $textColorOne
    font-size: 24px
    letter-spacing: 0.2px
    font-wieght: 500

.productVisual
  height: 100%
  left: 68%
  position: absolute
  top: 0

.productVisualOval
  position: absolute
  height: 550px
  left: -120px
  top: -60px
  width: 550px

.productScreenshot
  height: 100%
  border-radius: 8px
  box-shadow: 0 10px 36px 0 rgba(0,0,0,0.05)
  position: relative
  z-index: 2

.wave
  background: #F8FBFF
  display: block
  width: 100%

// Section steps
.stepsSection
  padding-bottom: 100px
  position: relative
  .container
    align-content: center
    display: grid
    grid-auto-rows: max-content
    height: 610px
    padding-left: 37%

.stepsVisual
  height: 100%
  left: 0%
  position: absolute
  top: 0

.stepsVisualOval
  position: absolute
  height: 550px
  right: -100px
  top: 130px
  width: 550px

.stepsVisualScreenshot
  border-radius: 8px
  box-shadow: 0 10px 36px 0 rgba(0,0,0,0.05)
  height: 610px
  position: relative
  z-index: 2

.stepsList
  display: grid
  grid-gap: 40px
  margin-bottom: 50px
  margin-top: 40px

.stepsItem
  align-items: center
  display: grid
  grid-template-columns: 50px 1fr
  gap: 0 20px
  &:nth-child(1)
    .stepsItemNumber
      background: rgba($primaryColor, 0.2)
      color: $primaryColor
  &:nth-child(2)
    .stepsItemNumber
      background: rgba($secondaryColor, 0.2)
      color: $secondaryColor
  &:nth-child(3)
    .stepsItemNumber
      background: rgba(#60E4FD, 0.2)
      color: #60E4FD

.stepsItemNumber
  align-items: center
  border-radius: 4px
  display: flex
  font-size: 32px
  font-weight: 900
  height: 50px
  justify-content: center
  width: 50px

.stepsItemText
  color: $textColorTwo
  font-size: 24px


// Section plans
.plansSection
  background: #F8FBFF
  padding-top: 140px
  padding-bottom: 200px

.plansTitle
  @extend .sectionTitleCenter
  margin-left: auto
  margin-right: auto
  max-width: 800px

.plansSubtitle
  @extend .sectionSubtitleCenter
  display: block
  margin-left: auto
  margin-right: auto
  max-width: 700px

.plansList
  align-items: flex-end
  display: grid
  grid-auto-flow: column
  justify-content: center
  grid-template-columns: repeat(3, 280px)
  grid-gap: 20px
  margin-top: 70px

.planBusiness
  .planColorBanner
    background: $secondaryColor
  .planContent
    border-radius: 0 0 4px 4px
    border: 2px solid $secondaryColor
    .planPrice
      .planPriceValue
        color: $secondaryColor

.planTeams
  .planColorBanner
    background: $primaryColor
  .planContent
    border-radius: 0 0 4px 4px
    border: 2px solid $primaryColor
    .planPrice
      .planPriceValue
        color: $primaryColor

.planContent
  background: #fff
  border: 1px solid rgba(95,89,247,0.2)
  border-radius: 4px
  box-shadow: 0 9px 31px 0 rgba(#000, 0.03)
  display: grid
  grid-template-rows: auto auto 1fr auto
  height: 580px
  padding: 35px
  a
    margin: auto
  .creditCardNotRequired
    height: 20px
    margin-top: 20px
  

.planColorBanner
  border-radius: 4px 4px 0 0
  height: 30px

.planTitle
  color: $textColorOne
  font-family: 'hk_groteskbold'
  font-size: 20px
  font-weight: 600
  letter-spacing: 0.2px
  line-height: 28px
  margin-bottom: 15px

.planPrice
  align-items: flex-start
  display: grid
  grid-gap: 5px
  grid-template-columns: auto 1fr
  margin-bottom: 30px
  .planPriceValue
    color: $textColorTwo
    font-family: 'hk_groteskbold'
    font-size: 40px
    line-height: 33px
  .planPriceText
    font-size: 14px
    line-height: 17px
    span
      color: #B3BAC5

.planDetails
  display: grid
  grid-auto-rows: max-content
  grid-gap: 20px
  margin-bottom: 40px
  padding: 40px 0
  position: relative
  &:before, &:after
    background: #E5EAF4
    content: ""
    height: 1px
    left: 50%
    transform: translateX(-50%)
    position: absolute
    width: 120px
  &:before
    top: 0
  &:after
    bottom: 0
  .advanced
    display: grid
    grid-gap: 5px
    justify-items: center
    img
      height: 38px
      width: 38px
    p
      color: $textColorTwo
      font-size: 14px
      line-height: 17px
      letter-spacing: 0.2px

.planDetailsItem
  align-items: center
  display: grid
  grid-gap: 10px
  grid-template-columns: auto 1fr
  height: max-content
  img
    width: 22px
  p
    color: $textColorTwo
    font-size: 14px

// Section try it
.tryItSection
  align-items: center
  background: $primaryColor
  color: #fff
  display: flex
  flex-direction: column
  padding: 80px 0
  position: relative
  .sectionTitle, .sectionSubtitle
    color: #fff
    text-align: center
  a
    margin-top: 40px
  .creditCardNotRequired
    color: #fff
    margin-top: 10px

.tryItOval
  bottom: 0
  position: absolute
  right: 0

.tryItSquare
  left: 0
  position: absolute
  top: 0

// Footer
.footer
  padding: 60px 0
  .container
    align-items: center
    display: grid
    gap: 0px 30px
    grid-template-columns: 200px 1fr 200px

.footerLogo
  height: 45px
  
.footerLinks
  display: grid
  grid-auto-flow: column
  grid-gap: 50px
  justify-content: center
  a
    color: $textColorTwo
    font-size: 14px
    font-weight: 500

.footerSocials
  align-items: center
  display: grid
  grid-gap: 25px
  grid-template-columns: repeat(4, 26px)
  justify-content: flex-end
  justify-items: center

.copyright
  color: $textColorTwo
  border-top: 1px solid rgba(24,59,86,0.1)
  font-size: 12px
  font-weight: 500
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 2
  margin-top: 30px
  padding-top: 30px
  text-align: center