@import '../_common.sass'
@import '../_variables.sass'

.header
  // background: #fff
  // box-shadow: 0 2px 15px 0 rgba(0,0,0,0.05)
  height: 90px
  position: relative
  z-index: 2

.container
  @extend .container
  align-items: center
  display: grid
  height: 100%
  grid-auto-flow: column
  grid-gap: 40px
  // grid-template-columns: auto 1fr auto auto auto
  float: right
  letter-spacing: -0.01px
  font-style: normal

.logo
  width: 120px
  img
    width: 100%

.menu
  display: grid
  grid-auto-flow: column
  grid-auto-columns: max-content
  grid-gap: 40px
  p
    font-size: 23px
    letter-spacing: 0.99
    font-weight: 800
    color: $textColorSix
    &.dashboard_title
      font-size: 26px
      letter-spacing: 0.01
      color: $textColorFive
  a
    color: $textColorTwo
    font-size: 14px
    position: relative
    &.selected
      color: $primaryColor
      font-weight: 700
      &:after
        background: $primaryColor
        border-radius: 8px
        content: ''
        height: 4px
        left: 0
        top: calc(100% + 10px)
        position: absolute
        width: 30px

.needHelp
  color: $textColorTwo

.user
  align-items: center
  display: flex
  height: 100%
  position: relative
  justify-self: end
  .userName
    align-items: center
    cursor: pointer
    display: grid
    grid-gap: 12px
    grid-auto-flow: column
    // grid-template-columns: auto 1fr auto
    height: 48px
    p
      color: $textColorFour
      font-size: 21px
      font-weight: 500
  .userDropdown
    background: #fff
    border-radius: 4px
    box-shadow: 0 2px 24px 0 rgba(29,41,63,0.12)
    padding: 30px
    position: absolute
    right: 0px
    top: calc(100% + 5px)
    width: 160px
    .userMenu
      border-bottom: 1px solid $primaryColor
      display: grid
      grid-gap: 25px
      margin-bottom: 30px
      padding-bottom: 30px
    p, a
      color: $textColorTwo
      cursor: pointer
      font-size: 14px
      line-height: 14px
  .logout
    margin-top: 25px
