@import './Button.module.sass'
@import '../_variables.sass'

.input
  height: 0px
  overflow: hidden
  opacity: 0
  position: absolute
  width: 0px
  z-index: -1

.label
  @extend .button
  border: none
  background: none
  width: 100%
  height: 100%
  p
    font-weight: 600
    font-size: 19px
    letter-spacing: -0.01px
