@import '../_variables.sass'

.plansList
  align-items: flex-end
  display: grid
  grid-auto-flow: column
  justify-content: center
  grid-template-columns: repeat(3, 280px)
  grid-gap: 20px

.planBusiness
  .planColorBanner
    background: $secondaryColor
  .planContent
    border-radius: 0 0 4px 4px
    border: 2px solid $secondaryColor
    .planPrice
      .planPriceValue
        color: $secondaryColor

.planPro
  .planColorBanner
    background: $primaryColor
  .planContent
    border-radius: 0 0 4px 4px
    border: 2px solid $primaryColor
    .planPrice
      .planPriceValue
        color: $primaryColor

.planContent
  background: #fff
  border: 1px solid rgba(95,89,247,0.2)
  border-radius: 4px
  box-shadow: 0 9px 31px 0 rgba(#000, 0.03)
  display: grid
  grid-template-rows: auto auto 1fr auto
  height: 580px
  padding: 35px
  a
    margin: auto
  .creditCardNotRequired
    height: 20px
    margin-top: 20px
  

.planColorBanner
  border-radius: 4px 4px 0 0
  height: 30px

.planTitle
  color: $textColorOne
  font-family: 'hk_groteskbold'
  font-size: 20px
  font-weight: 600
  letter-spacing: 0.2px
  line-height: 28px
  margin-bottom: 15px

.planPrice
  align-items: flex-start
  display: grid
  grid-gap: 5px
  grid-template-columns: auto 1fr
  margin-bottom: 30px
  .planPriceValue
    color: $textColorTwo
    font-family: 'hk_groteskbold'
    font-size: 40px
    line-height: 33px
  .planPriceText
    font-size: 14px
    line-height: 17px
    span
      color: #B3BAC5

.planDetails
  display: grid
  grid-auto-rows: max-content
  grid-gap: 20px
  margin-bottom: 40px
  padding: 40px 0
  position: relative
  &:before, &:after
    background: #E5EAF4
    content: ""
    height: 1px
    left: 50%
    transform: translateX(-50%)
    position: absolute
    width: 120px
  &:before
    top: 0
  &:after
    bottom: 0
  .advanced
    display: grid
    grid-gap: 5px
    justify-items: center
    img
      height: 38px
      width: 38px
    p
      color: $textColorTwo
      font-size: 14px
      line-height: 17px
      letter-spacing: 0.2px

.planDetailsItem
  align-items: center
  display: grid
  grid-gap: 10px
  grid-template-columns: auto 1fr
  height: max-content
  img
    width: 22px
  p
    color: $textColorTwo
    font-size: 14px