@import '../_variables.sass'
  
.videoPlayer
  background: #1E1E1E
  border-radius: 8px
  overflow: hidden
  user-select: none
  width: 100%

.player
  border-bottom: 0
  border-radius: 8px 8px 0 0
  overflow: hidden
  position: relative
  width: 100%

.controls
  display: grid
  gap: 24px
  grid-auto-columns: 1fr
  margin: auto
  padding: 32px 0
  width: 80%

.timeline
  align-content: center
  display: grid
  cursor: pointer
  grid-column-start: 1
  grid-column-end: 4
  grid-row: 1
  height: 20px
  position: relative
  &:hover
    .timelineProgression
      &:after
        height: 20px
        width: 20px
.timelineDuration
  background: rgba(#fff, 0.1)
  border-radius: 8px
  height: 8px
  transition: all .1s ease-out
  width: 100%
.timelineProgression
  background: $primaryColor
  border-radius: 8px 0 0 8px
  height: 8px
  left: 0
  position: absolute
  top: 50%
  transform: translateY(-50%)
  &:after
    background: $primaryColor
    border-radius: 50%
    box-shadow: 0 3px 6px 0 rgba(#000, 0.23)
    content: ''
    height: 0px
    position: absolute
    left: calc(100% - 7px)
    top: 50%
    transform: translateY(-50%)
    width: 0px

.volume
  align-self: center
  display: grid
  grid-gap: 12px
  grid-template-columns: 24px auto
  height: 24px
.volumeIcon
  cursor: pointer
  img
    display: block
.volumeBar
  cursor: pointer
  height: 100%
  position: relative
  width: 80px
.volumeTotal
  background: rgba(#fff, 0.3)
  border-radius: 8px
  height: 6px
  position: absolute
  top: 50%
  transform: translateY(-50%)
  width: 100%
.volumeAmount
  background: #fff
  border-radius: 8px
  height: 100%
  left: 0
  position: absolute
  top: 0

.playPause
  align-self: center
  cursor: pointer
  height: 20px
  justify-self: center
  grid-column: 2
  grid-row: 2

.progression
  align-self: center
  color: #fff
  display: grid
  grid-gap: 4px
  grid-auto-flow: column
  justify-self: flex-end
    