@import '../_common.sass'
@import '../_variables.sass'

.layout
  display: grid
  grid-gap: 70px
  grid-template-columns: auto 1fr
  height: 100%

.sidebar
  background: #fff
  display: grid
  grid-gap: 10px
  grid-auto-rows: max-content
  padding-top: 40px
  width: 120px
  a
    align-items: center
    color: $textColorTwo
    font-size: 14px
    height: 40px
    display: flex
    padding: 0 20px
    &.selected
      background: rgba(95,89,247,0.1)
      color: $primaryColor
      font-weight: 700

.content
  min-height: 0
  padding: 40px 0
  padding-right: 70px

.contacts
  display: grid
  grid-gap: 20px

.contactsHeader, .contactsItem
  grid-template-columns: 44px repeat(7, 1fr) 24px
  
.contactLists
  display: grid
  grid-gap: 20px

.contactListsHeader, .contactListsItem
  grid-template-columns: 44px 100px 1fr 3fr 24px