@import '../../_variables.sass'

%campaignItem
  border-radius: 4px
  box-shadow: 0 5px 16px 0 rgba(24,59,86,0.03)
  height: 40px
  padding: 0 5px
  p
    color: $textColorOne
    font-size: 14px
    letter-spacing: 0.2px
    text-align: left
    overflow: auto
  
.campaignsListContainer
  float: left
  margin-right: 30px
  width: 25%
  height: 100%
  background-color: rgba($primaryColor, 0.1)
  .campaignsList
    display: grid
    grid-gap: 15px
    .unactiveCampaignItem
      @extend %campaignItem
      &:hover
        outline: groove rgba($primaryColor, 0.5)
    .activeCampaignItem
      @extend %campaignItem
      outline: solid $primaryColor



.campaignAnalytics
  padding: 30px
  .title
    color: $primaryColor
    font-size: 24px
    font-weight: 600
  .campaignHeader
    display: grid
    margin-bottom: 20px
    grid-template-columns: 8.3fr 1fr 1fr
    height: 50px
    background-color: #fff
    border-radius: 8px
    box-shadow: 0 5px 16px 0 rgba(24,59,86,0.03)
    align-items: center
    .campaignHeader
      margin-bottom: 20px
      height: fit-content
      width: 100%
      background-color: #fff
      border-radius: 8px
      box-shadow: 0 5px 16px 0 rgba(24,59,86,0.03)
      .informations
        display: grid
        padding: 10px
    .displayIcon
      display: grid

  .analyticsByContact
    display: grid
    grid-gap: 12px
    .analyticsByContactHeader
      grid-template-columns: 0.3fr 2fr 1fr 1fr 1fr 1fr
      p
        color: $primaryColor
    .goodAnalytic
      color: #12AA22
    .badAnalytic
      color: #D42216
  .analyticItemDetails
    grid-template-columns: 0.3fr 2fr 1fr 1fr 1fr 1fr
    box-shadow: 0 5px 16px 0 rgba(24,59,86,0.03)
  .analyticDetails
    height: fit-content
    padding-top: 5px
    padding-bottom: 5px
    grid-template-columns: 0.3fr 2fr 1fr 1fr 2fr
    background-color: #fff
    box-shadow: 0 5px 16px 0 rgba(24,59,86,0.03)
    color: $textColorOne
    font-size: 14px
  .CTADetail
    display: grid 
    grid-template-columns: 1fr 2fr
   
  
.stats
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(4, 1fr)
  grid-column-start: 1
  grid-column-end: 13
  margin: 20px
  
.statsTitle
  color: $primaryColor
  font-size: 24px
  font-weight: 600
  grid-row: 1
  grid-column-start: 1
  grid-column-end: 5

.stat
  grid-row: 2


    


    
    

