@import '../../_variables'

.campaignsHeader, .campaignsItem
  grid-template-columns: 100px repeat(4, 1fr) 210px 24px

.campaignsList
  display: grid
  grid-gap: 20px

.videosDraftTitle, .videosSentTitle
  font-size: 18px
  font-weight: 700
  line-height: 21px
  margin-bottom: 20px
  margin-top: 40px

.videosDraftTitle
  color: $secondaryColor

.videosSentTitle
  color: $primaryColor