.page
  display: flex
  flex-direction: column
  min-height: 100vh

.container
  margin: 0 auto
  max-width: 92%
  padding: 0 64px
  width: 100%
  &.lib
    max-width: 75%
    padding: 0

// Common elements
.error
  color: red
  font-size: 14px

.success
  color: #4cd137
  font-size: 14px
