// Common elements
.error
  color: red
  font-size: 14px

.success
  color: #4cd137
  font-size: 14px
  
/* Margins */
.mb4
  margin-bottom: 4px
.ml4
  margin-left: 4px
.mr4
  margin-right: 4px
.mt4
  margin-top: 4px

.m8
  margin: 8px
.mb8
  margin-bottom: 8px
.ml8
  margin-left: 8px
.mr8
  margin-right: 8px
.mt8
  margin-top: 8px

.m12
  margin: 12px
.mb12
  margin-bottom: 12px
.ml12
  margin-left: 12px
.mr12
  margin-right: 12px
.mt12
  margin-top: 12px

.mb16
  margin-bottom: 16px
.ml16
  margin-left: 16px
.mr16
  margin-right: 16px
.mt16
  margin-top: 16px

.mb24
  margin-bottom: 24px
.ml24
  margin-left: 24px
.mr24
  margin-right: 24px
.mt24
  margin-top: 24px

.mb32
  margin-bottom: 32px
.ml32
  margin-left: 32px
.mr32
  margin-right: 32px
.mt32
  margin-top: 32px

.mb36
  margin-bottom: 36px
.ml36
  margin-left: 36px
.mr36
  margin-right: 36px
.mt36
  margin-top: 36px

.mb40
  margin-bottom: 40px
.ml40
  margin-left: 40px
.mr40
  margin-right: 40px
.mt40
  margin-top: 40px

.mb48
  margin-bottom: 48px
.ml48
  margin-left: 48px
.mr48
  margin-right: 48px
.mt48
  margin-top: 48px


/* padding */
.p0
  padding: 0px !important
.pb0
  padding-bottom: 0px !important
.pl0
  padding-left: 0px !important
.pr0
  padding-right: 0px !important
.pt0
  padding-top: 0px !important

.p4
  padding: 4px
.pb4
  padding-bottom: 4px
.pl4
  padding-left: 4px
.pr4
  padding-right: 4px
.pt4
  padding-top: 4px

.p8
  padding: 8px
.pb8
  padding-bottom: 8px
.pl8
  padding-left: 8px
.pr8
  padding-right: 8px
.pt8
  padding-top: 8px

.p12
  padding: 12px
.pb12
  padding-bottom: 12px
.pl12
  padding-left: 12px
.pr12
  padding-right: 12px
.pt12
  padding-top: 12px

.p16
  padding: 16px
.pb16
  padding-bottom: 16px
.pl16
  padding-left: 16px
.pr16
  padding-right: 16px
.pt16
  padding-top: 16px

.p24
  padding: 24px
.pb24
  padding-bottom: 24px
.pl24
  padding-left: 24px
.pr24
  padding-right: 24px
.pt24
  padding-top: 24px

.p32
  padding: 32px
.pb32
  padding-bottom: 32px
.pl32
  padding-left: 32px
.pr32
  padding-right: 32px
.pt32
  padding-top: 32px

.p40
  padding: 40px
.pb40
  padding-bottom: 40px
.pl40
  padding-left: 40px
.pr40
  padding-right: 40px
.pt40
  padding-top: 40px

.p48
  padding: 48px
.pb48
  padding-bottom: 48px
.pl48
  padding-left: 48px
.pr48
  padding-right: 48px
.pt48
  padding-top: 48px

.p56
  padding: 56px
.pb56
  padding-bottom: 56px
.pl56
  padding-left: 56px
.pr56
  padding-right: 56px
.pt56
  padding-top: 56px