@import './_variables.sass'
  
*, *:before, *:after
  box-sizing: border-box
  margin: 0
  padding: 0

html
  min-height: 100%
  
body, 
#__next,
.page
  min-height: 100vh

body
  background: #FFF
  color: #000
  font-display: swap
  font-family: 'Inter', sans-serif
  font-size: 14px
  overscroll-behavior-y: none
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale

button
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible
  background: transparent
  color: inherit
  font: inherit
  line-height: normal
  -webkit-font-smoothing: inherit
  -moz-osx-font-smoothing: inherit
  -webkit-appearance: none

ul,
ol
  list-style: none

textarea
  font-family: 'Inter', sans-serif

video:focus,
input:focus,
button:focus,
select:focus,
textarea:focus
  outline: none

input::placeholder,
textarea::placeholder
  color: $textColorThree

a
  text-decoration: none

.Toastify__toast-container
  font-family: 'Inter', sans-serif
  padding: 0
  right: 20px
  top: 20px
  .Toastify__toast
    align-content: center
    align-items: center
    border-radius: 4px
    display: grid
    grid-gap: 8px
    grid-template-columns: 1fr 16px
    min-height: 48px
    padding: 0 16px
  .Toastify__toast-body
    font-size: 14px
    font-weight: 600
    line-height: 18px
    letter-spacing: 0.2px
    margin: 0
  button
    svg
      height: auto
      width: 16px