@font-face {
   font-family: "hk_groteskbold";
   src: url("../public/fonts/hk-grotesk/hkgrotesk-bold-webfont.woff2")
         format("woff2"),
      url("../public/fonts/hk-grotesk/hkgrotesk-bold-webfont.woff")
         format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "Source Code Pro";
   src: url("../public/fonts/source-code-pro/SourceCodePro-Light.ttf")
      format("truetype");
   font-weight: normal;
   font-style: normal;
}
aside.SidebarLeft_menu__2ijQO .SidebarLeft_menu_item__1koPn:first-child img {
   width: 69px !important;
}
.Popup_content__2yz2v {
   background: #312e3d !important;
   color: #fff !important;
}
.Popup_content__2yz2v .Popup_title__2Sulg {
   color: #fff !important;
}
.Popup_content__2yz2v .Button_button__1Es5o.Button_primaryColor__5GB68 {
   background: #444356 !important;
   border-color: #444356 !important;
   color: #fff !important;
}
.Popup_content__2yz2v
   .Button_button__1Es5o.Button_outline__3G65n.Button_primaryColor__5GB68 {
   border-color: #ffffff !important;
   color: #202021 !important;
   background: #fff !important;
}
._campaignId__footer__1MXqG {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}
